@model Pacote
@{
    ViewData["Title"] = "Cadastro de Pacote Turístico -";
}
<h2>Cadastro de Pacote Turístico</h2>
<form asp-action="CadastroPacote" method="POST" style="padding-top: 20px;">
    <div class="row">
        <div class="col-2">
            <label asp-for="Nome">Nome:</label>
        </div>
        <div class="col-3">
            <input asp-for="Nome" />
        </div>
        <div class="col-7">

        </div>     
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Origem">Origem:</label>
        </div>
        <div class="col-3">
            <input asp-for="Origem" />
        </div>
        <div class="col-7">

        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Destino">Destino:</label>
        </div>
        <div class="col-3">
            <input asp-for="Destino" />
        </div>
        <div class="col-7">

        </div>    
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Atrativos">Atrativos:</label>
        </div>
        <div class="col-3">
            <input asp-for="Atrativos" />
        </div>
        <div class="col-7">

        </div>    
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Saida">Saída:</label>
        </div>
        <div class="col-3">
            <input asp-for="Saida" />
        </div>
        <div class="col-7">

        </div>     
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Retorno">Retorno:</label>
        </div>
        <div class="col-3">
            <input asp-for="Retorno" />
        </div>
        <div class="col-7">

        </div>     
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Usuario">Informe seu número de Id:</label>
        </div>
        <div class="col-3">
            <input asp-for="Usuario" />
        </div>
        <div class="col-7">

        </div>     
    </div>
    <div class="row">
        <div class="col-2" style="padding-top: 20px;">
            <input type="submit" value="Cadastrar" />
        </div>
        <div class="col-10">

        </div>
    </div>
</form>