@{
    ViewData["Title"] = "Contato -";
}

<div style="background-color: #00800052; padding-bottom: 260px;">
    <div style="text-align: center; padding-top: 30px;">
        <h2>Entre em contato</h2>
        <p>Tel.: xxxxxxxxxx</P>
        <p>Whats: xxxxxxxxxxx</p> 
        <p>E-mail: destino.certo@gmail.com</p>
        <p>Endereço: Av. 1º de Março, 0000, Centro - Novo Hamburgo</p>
    </div>
</div>

