<div style="background-color: #ffcf00;">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <h2 style="text-align: center;">Pacotes Turísticos</h2>
        </div>
        <div class="col-3">

        </div>
    </div>
    <div class="row" style="text-align: center; padding-top: 20px;">
        <div class="col-4">
            <figure>
                <img src="/Imagens/serragaucha.jpg" alt="Serra Gaucha" style="width: 250px; height: 175px;">
            </figure>
        </div>
        <div class="col-4">
            <figure>
                <img src="/Imagens/saolourenco.jpg" alt="São Lourenço do Sul" style="width: 250px; height: 175px;">
            </figure>
        </div>
        <div class="col-4">
            <figure>
                <img src="/Imagens/cicloturismo.jpg" alt="Cicloturismo" style="width: 250px; height: 175px;">
            </figure>
        </div>
    </div>
    <div class="row" style="font-size: 20px; text-align: center;">
        <div class="col-4">
            <label style="font-weight: bolder;">Serra Gaúcha</label>
        </div>
        <div class="col-4">
            <label style="font-weight: bolder;">Passeio no Litoral</label>
        </div>
        <div class="col-4">
            <label style="font-weight: bolder;">Cicloturismo</label>
        </div>
    </div>
    <div class="row" style="font-size: 17px; text-align: center;">
        <div class="col-4">
            <label>Origem: Santos-SP / Destino: Gramado-RS</label>
        </div>
        <div class="col-4">
            <label>Origem: Porto Alegre-RS / Destino: Tramandaí-RS</label>
        </div>
        <div class="col-4">
            <label>Origem: Novo Hamburgo-RS / Destino: Rolante-RS</label>
        </div>
    </div>
    <div class="row" style="font-size: 17px; text-align: center;">
        <div class="col-4">
            <label style="font-weight: bold;">Passeios e café colonial.</label>
        </div>
        <div class="col-4">
            <label style="font-weight: bold;">Show ao vivo na praia.</label>
        </div>
        <div class="col-4">
            <label style="font-weight: bold;">Passeio ciclístico por diversas regiões do Vale dos Sinos e Vale do Paranhana.</label>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-4">
            <label>Saída: 04/01/2021 / Retorno: 11/01/2021</label>
        </div>
        <div class="col-4">
            <label>Saída: 02/02/2021 / Retorno: 06/02/2021</label>
        </div>
        <div class="col-4">
            <label>Saída: 20/11/2020 / Retorno: 27/11/2020</label>
        </div>
    </div>
    <div class="row" style="text-align: center; padding-top: 20px;">
        <div class="col-4">
            <figure>
                <img src="/Imagens/betocarrero.jpg" alt="Beto Carrero World" style="width: 250px; height: 175px;">
            </figure>
        </div>
        <div class="col-8">
            
        </div>
    </div>
    <div class="row" style="font-size: 20px; text-align: center;">
        <div class="col-4">
            <label style="font-weight: bolder;">Ida ao Beto Carrero World</label>
        </div>
        <div class="col-8">
            
        </div>
    </div>
    <div class="row" style="font-size: 17px; text-align: center;">
        <div class="col-4">
            <label>Origem: São Leopoldo-RS / Destino: Penha-SC</label>
        </div>
        <div class="col-8">
            
        </div>
    </div>
    <div class="row" style="font-size: 17px; text-align: center;">
        <div class="col-4">
            <label style="font-weight: bold;">Venha se divertir no maior parque da América Latina. São diversas atrações e brinquedos para curtir com a família e amigos.</label>
        </div>
        <div class="col-8">
            
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-4">
            <label>Saída: 15/12/2020 / Retorno: 19/12/2020</label>
        </div>
        <div class="col-8">
            
        </div>
    </div>
</div>

