@{
    ViewData["Title"] = "Institucional -";
}

<div style="background-color: #00800052;">
    <section style="text-align: center; padding-top: 30px;">
        <h2>Quem Somos</h2>
        <p>Nossa empresa foi fundada em 06/07/2015. Desde então</P>
        <p>vemos oferecendo o melhor para os nossos clientes,</p> 
        <p>com pacotes que permitem que nossos clientes tenham </p>
        <p>a melhor experiência em suas viagens.</p>
    </section>
    <section style="text-align: center; padding-top: 30px;">
        <h2>Missão</h2>
        <p>Proporcionar aos clientes o acesso a pacotes turísticos que</P>
        <p>satisfaçam as suas necessidades, garantindo um ótimo serviço</p> 
        <p> prestado e oferecendo preços justos.</p>
    </section>
    <section style="text-align: center; padding-top: 30px;">
        <h2>Visão</h2>
        <p>Ser reconhecido no mercado nacional.</P>
    </section>
    <section style="text-align: center; padding-top: 30px;">
        <h2>Valores</h2>
        <p>- Satisfação das expectativas e necessidades dos clientes.</P>
        <p>- Honestidade comercial.</p> 
        <p>- Comunicação clara a todos.</p>
        <p>- Excelência no serviço prestado.</p>
    </section>  
</div>

