@{
    ViewData["Title"] = "Logout -";
}

<h2>Você saiu do sistema</h2> 
<p style="padding-top: 20px;">O que deseja fazer agora:</p>
<a href="Login" style="color: black;">Entrar novamente no sistema</a>