@{
    ViewData["Title"] = "Exclusão Concluída -";
}

<h2>Usuário excluído com sucesso</h2>
<p style="padding-top: 20px;">O que deseja fazer agora:</p>
<div>
    <a href="CadastroUsuario" style="color: black;">Cadastrar usuário</a>
</div>
<div>
    <a href="ListarUsuario" style="color: black;">Ver a lista de usuários</a>
</div>
<div>
    <a href="EditarUsuario" style="color: black;">Editar usuário</a>
</div>
<div>
    <a href="ExcluirUsuario" style="color: black;">Excluir outro usuário</a>
</div>
<div>
    <a href="/Pacote/CadastroPacote" style="color: black;">Cadastrar pacote turístico</a>
</div>
<div>
    <a href="/Pacote/ListarPacote" style="color: black;">Ver a lista de pacotes turísticos</a>
</div>
<div>
    <a href="/Pacote/EditarPacote" style="color: black;">Editar pacote turístico</a>
</div>
<div>
    <a href="/Pacote/ExcluirPacote" style="color: black;">Excluir pacote turístico</a>
</div>
<div>
    <a href="Logout" style="color: black;">Sair do sistema</a>
</div>